extends /views/notrack.pug

block prepend title
	- title = 'Automatic contribution'
	- page = 'contribution'

block contents
	.row
		.col-md-3
			include /apps/members/apps/member/views/partials/sidebar.pug
		.col-md-9
			+page_header( member.fullname )

			if contribution.subscriptionId

				h4 Cancel contribution

				form(method='post')
					+csrf
					.checkbox
						label
							input(type='checkbox' required)
							| This action is irreversible, confirm to proceed
					button(name='action' value='cancel-subscription').btn.btn-danger Cancel

				hr


			h4 Payments
			if payments.length > 0
				.table-responsive
					table.table.table-striped.table-condensed
						thead
							tr
								th Payment ID
								th Subscription ID
								th Charge Date
								th Description
								th Status
								th Amount
						tbody
							each payment, p in payments
								tr
									td= payment.id
									td= payment.subscriptionId
									td #{ moment( payment.chargeDate ).format( 'DD/MM/YYYY' ) }
									td #{ payment.description }
									td: +paymentStatus(payment)
									td
										| #{ payment.amount ? currencySymbol + payment.amount : '–' }
										if payment.amountRefunded
											|  (-#{currencySymbol}#{payment.amountRefunded})
						tfoot
							tr
								th( colspan=5 ) Total
								th #{currencySymbol}#{ total }
			else
				p Contact has no payment history
