
extends /views/base.pug

mixin diff(a, b)
	span
		if a !== b
			| #{a} ↔ #{b}
		else
			| -

block contents
	.row
		.col-md-12
			+page_header('Newsletter sync report')

	.row
		.col-md-12 
			h4 New contacts to upload
			table.table.table-striped
				thead
					tr
						th Contact
						th Email
				tbody
					each contact in newContactsToUpload
						tr
							td
								a(href='/admin/contacts/' + contact.id)= contact.fullname || contact.email
								if contact.membership && contact.membership.isActive
									|
									|
									span.label.label-success Member
							td= contact.email
		
			h4 Contacts to import
			table.table.table-striped
				thead
					tr
						th Email
						th Status
				tbody
					each contact in contactsToImport
						tr
							td= contact.email
							td= contact.status
			
			h4 Mismatched contacts
			table.table.table-striped
				thead
					tr
						th Contact
						th Status
						th Groups
						th Active?
				tbody
					each m in mismatchedContacts
						tr
							td: a(href='/admin/contacts/' + m.contact.id)= m.contact.fullname
							td: +diff(m.contact.profile.newsletterStatus, m.status)
							td: +diff(m.contact.profile.newsletterGroups.toString(), m.groups.toString())
							td: +diff(
									m.contact.membership && m.contact.membership.isActive ? 'Yes' : 'No',
									m.tags.includes(Options('newsletter-active-member-tag')) ? 'Yes' : 'No'
								)
